<?xml version="1.0"?>
<config>
    <modules>
        <Profileolabs_Shoppingflux>
            <version>1.0.3</version>
        </Profileolabs_Shoppingflux>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shoppingflux after="Mage_Adminhtml">Profileolabs_Shoppingflux_Adminhtml</shoppingflux>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <fieldsets>
            <shoppingflux_convert_customer>
                <LastName>
                    <to_customer>lastname</to_customer>
                    <to_customer_address>lastname</to_customer_address>
                </LastName>
                <FirstName>
                    <to_customer>firstname</to_customer>
                    <to_customer_address>firstname</to_customer_address>
                </FirstName>
                <Email>
                    <to_customer>email</to_customer>
                    <to_customer_address>email</to_customer_address>
                </Email>
                <Phone>
                    <to_customer_address>telephone</to_customer_address>
                </Phone>
                <Company>
                    <to_customer_address>company</to_customer_address>
                </Company>
                <PostalCode>
                    <to_customer_address>postcode</to_customer_address>
                </PostalCode>
                <Town>
                    <to_customer_address>city</to_customer_address>
                </Town>
                <Country>
                    <to_customer_address>country_id</to_customer_address>
                </Country>
            </shoppingflux_convert_customer>
            <sales_convert_order>
                <fees_shoppingflux>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </fees_shoppingflux>
            </sales_convert_order>
        </fieldsets>
        <blocks>
            <profileolabs_shoppingflux>
                <class>Profileolabs_Shoppingflux_Block</class>
            </profileolabs_shoppingflux>
        </blocks>
        <helpers>
            <profileolabs_shoppingflux>
                <class>Profileolabs_Shoppingflux_Helper</class>
            </profileolabs_shoppingflux>
        </helpers>
        <models>
            <profileolabs_shoppingflux>
                <class>Profileolabs_Shoppingflux_Model</class>
                <resourceModel>profileolabs_shoppingflux_mysql4</resourceModel>
            </profileolabs_shoppingflux>		
            <profileolabs_shoppingflux_mysql4>
                <class>Profileolabs_Shoppingflux_Model_Mysql4</class>
                <entities>
                    <export_flux>
                        <table>shoppingflux_export_flux</table>
                    </export_flux>
                    <manageorders_log>
                        <table>shoppingflux_log</table>
                    </manageorders_log>
                    <export_updates>
                        <table>shoppingflux_export_updates</table>
                    </export_updates>
                    <manageorders_shipping_method>
                        <table>shoppingflux_shipping_methods</table>
                    </manageorders_shipping_method>
                    <manageorders_export_shipments>
                        <table>shoppingflux_manageorders_export_shipments</table>
                    </manageorders_export_shipments>
                </entities>
            </profileolabs_shoppingflux_mysql4>
            <catalog>
                <rewrite>
                    <config>Profileolabs_Shoppingflux_Model_Export_Rewrite_Catalog_Config</config>
                </rewrite>
            </catalog>
            <cataloginventory>
                <rewrite>
                    <stock_item>Profileolabs_Shoppingflux_Model_Export_Rewrite_CatalogInventory_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
            <sales>
                <rewrite>
                    <service_quote>Profileolabs_Shoppingflux_Model_Sales_Service_Quote</service_quote>
                </rewrite>
            </sales>
        </models>
        <resources>
            <profileolabs_shoppingflux_setup>
                <setup>
                    <module>Profileolabs_Shoppingflux</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </profileolabs_shoppingflux_setup>
            <profileolabs_shoppingflux_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </profileolabs_shoppingflux_write>
            <profileolabs_shoppingflux_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </profileolabs_shoppingflux_read>
        </resources>
        <events>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <sf_update_stock>
                        <type>singleton</type>
                        <class>Profileolabs_Shoppingflux_Model_Export_Observer</class>
                        <method>realtimeUpdateStock</method>
                    </sf_update_stock>
                </observers>
            </cataloginventory_stock_item_save_after>
            <customer_group_load_after>
                <observers>
                    <shoppingflux_quote_observer>
                        <class>Profileolabs_Shoppingflux_Model_Manageorders_Observer</class>
                        <method>setCustomerTaxClassId</method>
                    </shoppingflux_quote_observer>
                </observers>
            </customer_group_load_after>
            <sales_order_shipment_save_after>
                <observers>
                    <shoppingflux_shipment_save_after>
                        <class>Profileolabs_Shoppingflux_Model_Manageorders_Observer</class>
                        <method>scheduleShipmentUpdate</method>
                    </shoppingflux_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
            <order_cancel_after>
                <observers>
                    <shoppingflux_order_cancel_after>
                        <class>Profileolabs_Shoppingflux_Model_Manageorders_Observer</class>
                        <method>sendStatusCanceled</method>
                    </shoppingflux_order_cancel_after>
                </observers>
            </order_cancel_after>
            <catalog_product_attribute_update_before>
                <observers>
                    <shoppingflux_catalog_product_attribute_update_before>
                        <class>Profileolabs_Shoppingflux_Model_Export_Observer</class>
                        <method>catalogProductAttributeUpdateBefore</method>
                    </shoppingflux_catalog_product_attribute_update_before>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_save_commit_after>
                 <observers>
                    <shoppingflux_catalog_product_save_commit_after>
                        <class>Profileolabs_Shoppingflux_Model_Export_Observer</class>
                        <method>catalogProductSaveCommitAfter</method>
                    </shoppingflux_catalog_product_save_commit_after>
                </observers>
            </catalog_product_save_commit_after>
            <catalogrule_after_apply>
                <observers>
                    <shoppingflux_catalogrule_after_apply>
                        <class>Profileolabs_Shoppingflux_Model_Export_Observer</class>
                        <method>catalogruleAfterApply</method>
                    </shoppingflux_catalogrule_after_apply>
                </observers>
            </catalogrule_after_apply>
            <sales_order_place_after>
                <observers>
                    <shoppingflux_sales_order_place_after>
                        <type>singleton</type>
                        <class>Profileolabs_Shoppingflux_Model_Manageorders_Observer</class>
                        <method>observeSalesOrderPlaceAfter</method>
                    </shoppingflux_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
        <template>
            <email>
                <shoppingflux_alert translate="label" module="profileolabs_shoppingflux">
                    <label>Shoppingflux Alert</label>
                    <file>shoppingflux/alert.html</file>
                    <type>html</type>
                </shoppingflux_alert>
            </email>
        </template>
        <pdf>
            <totals>
                <fees_shoppingflux translate="title">
                    <title>Commission Marketplace</title>
                    <source_field>fees_shoppingflux</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                </fees_shoppingflux>
            </totals>
        </pdf>
    </global>
    <frontend>
        
        <routers>
            <shoppingflux>
                <use>standard</use>
                <args>
                    <module>Profileolabs_Shoppingflux</module>
                    <frontName>shoppingflux</frontName>
                </args>
            </shoppingflux>
        </routers>
        <layout>
            <updates>
                <shoppingflux>
                    <file>profileolabs_shoppingflux.xml</file>
                </shoppingflux>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <shoppingflux_product />
                    <shoppingflux_default_category />
                </attributes>
              </collection>
          </product>
        <translate>
            <modules>
                <Profileolabs_Shoppingflux>
                    <files>
                        <default>Profileolabs_Shoppingflux.csv</default>
                    </files>
                </Profileolabs_Shoppingflux>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <shoppingflux>
                    <file>profileolabs_shoppingflux.xml</file>
                </shoppingflux>
            </updates>
        </layout>
        <translate>
            <modules>
                <Profileolabs_Shoppingflux>
                    <files>
                        <default>Profileolabs_Shoppingflux.csv</default>
                    </files>
                </Profileolabs_Shoppingflux>
            </modules>
        </translate>
        <events>
            <catalog_product_delete_after_done>
                <observers>
                    <sf_delete_event>
                        <type>singleton</type>
                        <class>Profileolabs_Shoppingflux_Model_Export_Observer</class>
                        <method>realtimeUpdateDeletedProduct</method>
                    </sf_delete_event>
                </observers>
            </catalog_product_delete_after_done>
            <shoppingflux_mass_publish_save_item>
                <observers>
                    <sf_mass_insf_update>
                        <type>singleton</type>
                        <class>Profileolabs_Shoppingflux_Model_Export_Observer</class>
                        <method>realtimeUpdateInSfMass</method>
                    </sf_mass_insf_update>
                </observers>
            </shoppingflux_mass_publish_save_item>
            <catalog_product_save_after>
                <observers>
                    <sf_price_update>
                        <type>singleton</type>
                        <class>Profileolabs_Shoppingflux_Model_Export_Observer</class>
                        <method>realtimeUpdatePrice</method>
                    </sf_price_update>
                    <sf_insf_update>
                        <type>singleton</type>
                        <class>Profileolabs_Shoppingflux_Model_Export_Observer</class>
                        <method>realtimeUpdateInSf</method>
                    </sf_insf_update>
                    <sf_disabled_update_save>
                        <type>singleton</type>
                        <class>Profileolabs_Shoppingflux_Model_Export_Observer</class>
                        <method>realtimeUpdateDisabledProductSave</method>
                    </sf_disabled_update_save>
                </observers>
            </catalog_product_save_after>
            <catalog_product_status_update>
                <observers>
                    <sf_disabled_update>
                        <type>singleton</type>
                        <class>Profileolabs_Shoppingflux_Model_Export_Observer</class>
                        <method>realtimeUpdateDisabledProduct</method>
                    </sf_disabled_update>
                </observers>
            </catalog_product_status_update>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <sf_adminhtml_catalog_category_tabs>
                        <type>singleton</type>
                        <class>profileolabs_shoppingflux/export_observer</class>
                        <method>addShoppingfluxProductsTab</method>
                    </sf_adminhtml_catalog_category_tabs>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_prepare_save>
                <observers>
                    <sf_catalog_category_prepare_save>
                        <type>singleton</type>
                        <class>profileolabs_shoppingflux/export_observer</class>
                        <method>saveShoppingfluxCategoryProducts</method>
                    </sf_catalog_category_prepare_save>
                </observers>
            </catalog_category_prepare_save>
            <adminhtml_block_html_before>
                <observers>
                    <sf_adminhtml_block_html_before>
                        <type>singleton</type>
                        <class>profileolabs_shoppingflux/manageorders_observer</class>
                        <method>observeAdminhtmlBlockHtmlBefore</method>
                    </sf_adminhtml_block_html_before>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <!--<import_orders_shoppingflux>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>profileolabs_shoppingflux/manageorders_observer::manageOrders</model>
                </run>
            </import_orders_shoppingflux>-->
            <export_updates_shoppingflux>
                <schedule>
                    <cron_expr>20 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>profileolabs_shoppingflux/export_observer::updateFlux</model>
                </run>
            </export_updates_shoppingflux>
            <remove_old_products>
                <schedule>
                    <cron_expr>20 2 */10 * *</cron_expr>
                </schedule>
                <run>
                    <model>profileolabs_shoppingflux/export_flux::checkForDeletedProducts</model>
                </run>
            </remove_old_products>
            <update_marketplaces>
                <schedule>
                    <cron_expr>0 2 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>profileolabs_shoppingflux/manageorders_observer::updateMarketplaceList</model>
                </run>
            </update_marketplaces>
            <export_update_stock_shoppingflux>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>profileolabs_shoppingflux/export_observer::checkStock</model>
                </run>
            </export_update_stock_shoppingflux>
            <export_flux_in_file>
                <schedule>
                    <cron_expr>0 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>profileolabs_shoppingflux/export_observer::generateFluxInFile</model>
                </run>
            </export_flux_in_file>
            <!--<export_shipments_shoppingflux>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>profileolabs_shoppingflux/manageorders_observer::sendScheduledShipments</model>
                </run>
            </export_shipments_shoppingflux>-->
            <!--<export_updates_shoppingflux>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>profileolabs_shoppingflux/export_observer::manageUpdates</model>
                </run>
            </export_updates_shoppingflux>-->
        </jobs>
    </crontab>
    <default>
        <shoppingflux>
            <configuration>
                <is_sandbox>0</is_sandbox>
                <ws_uri_test>http://test.shopping-flux.com/ws/</ws_uri_test>
                 <ws_uri_prod>http://ws.shopping-flux.com</ws_uri_prod>
                <!--<ws_uri_prod>https://clients.shopping-flux.com/webservice/</ws_uri_prod>-->
                <!--<ws_uri_prod>https://clients.shopping-flux.com/webservice/magento/</ws_uri_prod>-->
                <api_key></api_key>
                <!--<enable_buyline>0</enable_buyline>-->
            </configuration>
        </shoppingflux>
        <shoppingflux_mo>
            <manageorders>
                <enabled>0</enabled>
                <limit_orders>30</limit_orders>
                <new_order_status>pending</new_order_status>
                <create_invoice>1</create_invoice>
                <processing_order_status>processing</processing_order_status>
                <apply_tax>0</apply_tax>
                <use_product_id>0</use_product_id>
                <use_marketplace_date>1</use_marketplace_date>
            </manageorders>
            <shipment_update>
                <limit_hours>1</limit_hours>
            </shipment_update>
            <import_customer>
                <prefer_mobile_phone>1</prefer_mobile_phone>
            </import_customer>
        </shoppingflux_mo>
        <payment>
            <shoppingflux_purchaseorder>
                <active>0</active>
                <model>profileolabs_shoppingflux/manageorders_payment_method_purchaseorder</model>
                <order_status>new</order_status>
                <title>Shopping Flux Purchase Order</title>
                <allowspecific>0</allowspecific>
            </shoppingflux_purchaseorder>
        </payment>
        <carriers>
            <shoppingflux>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>profileolabs_shoppingflux/manageorders_shipping_carrier_shoppingflux</model>
                <name>Frais de port de la place de marché</name>
                <title></title>
            </shoppingflux>
        </carriers>
        <shoppingflux_export>
            <general>
                <active>1</active>
                <filter_by_attribute>0</filter_by_attribute>
                <limit_product>100</limit_product>
                <default_shipping_delay>2</default_shipping_delay>
                <default_shipping_price></default_shipping_price>
                <default_shipping_method>flatrate_flatrate</default_shipping_method>
                <shipping_price_based_on>FR</shipping_price_based_on>
                <export_soldout>1</export_soldout>
                <export_not_salable>1</export_not_salable>
                <export_visibility>2,3,4</export_visibility>
                <enable_cron>0</enable_cron>
                <memory_limit>2048</memory_limit>
                <use_manage_stock>1</use_manage_stock>
                <all_store_products>0</all_store_products>
                <enable_events>0</enable_events>
                <manage_configurable>1</manage_configurable>
                <manage_catalog_rules>1</manage_catalog_rules>
                <manage_media_gallery>1</manage_media_gallery>
            </general>
            <category>
                <use_shoppingflux_category>0</use_shoppingflux_category>
                <use_only_shoppingflux_category>0</use_only_shoppingflux_category>
                <all_store_categories>0</all_store_categories>
                <max_category_level>5</max_category_level>
            </category>
            <attributes_mapping>
                <ean>ean</ean>
                <isbn>isbn</isbn>
                <ref_manufacturer>ref_manufacturer</ref_manufacturer>
                <ref_wholesaler>ref_wholesaler</ref_wholesaler>
                <shipping_delay>shipping_delay</shipping_delay>
                <shipping_send_delay>shipping_send_delay</shipping_send_delay>
                <brand>brand</brand>
                <brand_page_url>brand_page_url</brand_page_url>
                <ecotaxe>ecotaxe</ecotaxe>
                <short_name>short_name</short_name>
                <characteristics>characteristics</characteristics>
                <warranty>warranty</warranty>
                <kind>kind</kind>
                <matter>matter</matter>
                <size>size</size>
                <shoe_size>shoe_size</shoe_size>
                <dimension>dimension</dimension>
                <sku>sku</sku>
                <name>name</name>
                <description>description</description>
                <short_description>short_description</short_description>
                <meta_title>meta_title</meta_title>
                <meta_description>meta_description</meta_description>
                <meta_keyword>meta_keyword</meta_keyword>
                <weight>weight</weight>
                <color>color</color>
                <price>price</price>
                <special_price>special_price</special_price>
            </attributes_mapping>
        </shoppingflux_export>
    </default>
</config>
